* {
	margin:0; 
	padding:0; 
	outline:0;
}

#slide-panel{border-bottom-style:solid;border-bottom-width:2px;display:none;height:100px;margin:auto;}

.slide {width:950px; margin:auto;}

.btn-slide:link, .btn-slide:visited{color:#fff; float:right; display:block;font-size:14px; text-transform:uppercase; font-weight:bold;height:26px; padding:3px 0 3px 0;line-height:22px;text-align:center;text-decoration:none;width:100px; background-color:#000; font-family:Arial;}

.loginform {width:950px; margin:auto; font-family:Arial, Helvetica, sans-serif;}

.formdetails {font-size:14px;}

.formdetails a:link, .formdetails a:visited {font-size:14px; text-decoration:underline;}

.loginform h2 {padding:10px 10px 10px 0; font-size:18px; font-weight:normal; text-transform:uppercase;}

.loginform ul li {display:inline;}

.loginform ul li a:link, .loginform ul li a:visited {font-size:14px; text-decoration:underline;}

div.theatres-selection {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	margin: 5% 0 0 0;
}

p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
}

h1 a:hover {
	text-decoration: none;
}

h1, h2, h3 {
	font-family: Century Gothic;
	font-weight: normal;
	margin-bottom: 15px;
}

div.pane {
	width: 1000px;
	margin: 0px auto;
}

div.header {
	padding-top: 15px;
	padding-bottom: 15px;
}

div.loginpane {
	width: 230px;
	display: block;
	position: relative;
	float: left;
	padding: 15px;
}

div.forumdesc {
	width: 700px;
	display: block;
	position: relative;
	float: left;
	padding: 15px;
}

div.content {	
	margin-top: 15px;
	width: 970px;
	display: block;
	position: relative;
	float: left;
	padding: 15px;
	font-size:22px;
}

div.content-status {
	background-color: #EFEFEF;	
}

div.header h1 {
	margin-left: 15px;
	font-family: Century Gothic;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: #0066FF;
}

input[type="submit"], button {
	border-radius: 4px;
	color: #EFEFEF;
	width: 200px;
	padding: 7px;
	background-image: linear-gradient(to bottom, #0066FF, #0099FF);
	margin-top: 15px;
	border: none;
	cursor:hand;
}

input[type="text"],[type="password"] ,select{
	border-radius: 15px;
	width: 200px;
	padding: 7px;
	font-family: Arial;
	margin-top: 15px;
	border: none;
	background-color: #DFDFDF;
}

#theatre-search-content{
	border-radius: 15px;
	width: 500px;
	padding: 7px;
	font-family: Arial;
	margin-top: 15px;
	border: none;
	background-color: #DFDFDF;
}

div .movie span.title {
	font-weight:bold;
}

span.movieOrder {
	float:right;
}

div.movie {
	background-color: #DFDFDF;
	margin-top: 15px;
	width: 970px;
	display: block;
	position: relative;
	float: left;
	padding: 15px;
	font-size:22px;
	font-family: Century Gothic;
}

::-webkit-input-placeholder {
    color:    Gray;
}

input[type="text"]:focus {
	outline-width: 0;
	outline-style: none;
}

input[type="password"]:focus {
	outline-width: 0;
	outline-style: none;
}
	
input[type="submit"]:focus {
	outline-width: 0;
	outline-style: none;
}	

button:focus {
	outline-width: 0;
	outline-style: none;
}	

table.category-table,table #users-theatre-selection {
	width: 100%;
	margin-bottom: 35px;
	font-family: Calibri;
}

table.category-table td.main-category {
	font-size: 16pt;
	font-weight: bold;
}

table.category-table th {
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
}

table.topic-table {
	width: 100%;
	font-family: Calibri;
}

table.topic-table th {
	vertical-align: top;
	text-align: left;
	font-size: 12pt;
	background-color: #8E8E8E;
	padding: 4px;
}

table.topic-table td {
	font-size: 12pt;
	padding: 4px;
}

table.reply-table {
	font-family: Calibri;
	width: 100%;
}

table.reply-table th {
	vertical-align: top;
	text-align: left;
	font-size: 12pt;
}

table.reply-table td {
	padding-left: 15px;
	vertical-align: top;
	margin-bottom: 5px;
}

div.container {
   margin-top:8px;
   margin-bottom: 10px;
   font-size: 18px
}
.error
{
   font-family: Verdana, Arial, sans-serif; 
   font-size: 0.7em;
   color: red;
   background-color : #ffff00;
}